body{
    /* overflow: hidden; */
}
nav{
  /* position: absolute !important;
  top: 0;
  left: 0;
  right: 0; */
}
nav.bg-dark{
  /* background-color: #343a40!important; */
  background-color: #073665!important;
}
header{
 background-image: url('../images/photo1.jpeg');
 height: 100vh;
 width: 100%;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center ;
 display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
}
    header h3{
      font-size: 4rem;
      color: #01274c;

    }